/* https://uiverse.io/gharsh11032000/loud-treefrog-81 */
.card_v {
  width: 300px;
  height: 200px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transform: translate3d(7%, -2%, 0px) scale3d(0.9, 0.8, 1) rotateX(15deg) rotateY(-9deg) rotateZ(32deg);
  display: flex;
  justify-content: center;
  padding:15px;

}

.card-content {
  padding: 10px;
  position: relative;
  z-index: 1 ;
  display: flex;
  flex-direction: row;
  gap: 0px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center; 
  height: 100%;
}

.card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}   

.card-content .card-para {
  color: white;
  opacity: 1;
  font-size: 15px;
  font-weight: 500;
}

.card_v:hover {
  transform: rotateY(0) rotateX(0) scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card_v:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card_v:hover:before {
  transform: translateX(-100%);
}

.card_v:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card_v:hover:after {
  transform: translateX(100%);
}

/* stuff added by me */
.contact-social-card{
    display: flex;
}

.left-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-card-info{

}

.card-para a{
    color: white;
    padding:1px 1px;
    border-radius:10px;
}

.card-vizita{
    display: flex;
    justify-content: center;
}
